<div>
    <h2>Ironhack Cinema</h2>
    <h3>Click on the movie to check the showtimes!</h3>
    {{#each movie}}
    <div>
        {{{movie.image}}}
        <h3>{{{movie.title}}}</h3>
        <a href="">See more</a>
    </div>
    {{/each}}
</div>